&.dark { // swicthing dark/light mode

  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      background-color: #444;  // switch for dark mode
    }
  }

  background-color: $secondary-color;
  color: darken($secondary-color, 50%);

  header {
    background-color: $secondary-color;
    nav {
      a {
        &:hover {
          color: $accent-color;
        }
      }
    }
  }

  // switches color on all elements with the class "outer-col-" and "inner-col-"
  [class^="outer-col-"] {
    background-color: lighten($secondary-color, 20%);
  }
  [class^="inner-col-"] {
    background-color: lighten($secondary-color, 20%);
  }

  // switch color, etc on buttons
  .btn-primary {
    @extend %btn;
    background-color:lighten($secondary-color, 5%);
    color: darken($light-color, 20%);
  }
  
  .btn-secondary {
    @extend %btn;
    background-color:lighten($primary-color, 10%)   ;
    color: $secondary-color;
  }

  // Anchor color :: all. (Navigation has its own)
  a {
    color: darken($light-color, 5%);
  }

  .nav-submenu{
    a {
      color: $secondary-color;
    }
  }
  
  .primary-image-section {
    .primary-textbox{
    background-color: darken($tertiary-color, 5%);
    h1{
      color: $light-color;
    }
    p{
      color: $light-color;
    }
  }
  }

    
  .secondary-image-section {
    .secondary-textbox{
    background-color: darken($secondary-color, 5%);
    h1{
      color: $light-color;
    }
    p{
      color: $light-color;
    }
  }
  }

    
  .tertiary-image-section {
    .tertiary-textbox{
    background-color: darken($secondary-color, 10%);
    h1{
      color: $light-color;
    }
    p{
      color: $light-color;
    }
  }
  }



}